body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:  #FF69B4;
    color: #00FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

.container {
    max-width: 1700px;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 40%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    padding: 1rem;
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

article {
    flex-basis: 50%;
    margin: 30px 15px;
    border: 1.5px solid rgb(172, 172, 172);
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
    padding: 20px;
    /* height: 500px; */
    line-height: 30px;
}

ul {
    margin: 2px 30px;
}



h2 {
    text-align: center;
}

aside {
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: #fff;
    width: 250px;
    height: 70px;
    padding: 1rem;
    cursor: pointer;
    border: 3px solid rgb(148, 148, 148);
    transition: ease-in-out .5s;
}

a {
    color: #00FFFF;
}

img {
    height: 15px;
    width: 24px;
}

.button:hover {
    transition: ease-in-out .5s;
    transform: scale(1.1);
    color: #fff;
    width: 250px;
    padding: 1rem;
    cursor: pointer;
    border: 3px solid rgb(136, 136, 136);
}

.prezenty {
    text-decoration: none;
    font-size: 20px;
}

footer {
    border-radius: 20px;
    color: #00FFFF;
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    padding: 10px;
}